footer{

    width: 100%;
    height: 5px;
    display: flex;
    flex-direction: row;


    .footer__line1{
        width: 50%;
        height: 5px;
        background-color: red;
    }
    .footer__line2{
        width: 50%;
        height: 5px;
        background-color: #73BE43;
    }
}